Search Method Changing

Is it possible with the current configuration to change the default search method from GET to POST? It looks as though it is hard coded here:
https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Endpoints/Search.php#L103

I ran into a scenario where I had different search results return for the same query depending on the method. It appears to default to GET. When I change it to POST I get the expected results. Thanks.

So technically, you can override the method by setting the curl option yourself, in the `client` section of the request:

```php
$client = Elasticsearch\ClientBuilder::create()->build();
$params = [
    'index' => 'test',
    'type' => 'test',
    'body' => [
        'query' => [
            'match_all' => []
        ]
    ],
    'client' => [
        'curl' => [
            CURLOPT_CUSTOMREQUEST => 'POST'
        ]
    ]
];
$client->search($params);
```

However, that said, there is no functional difference at the Elasticsearch layer between GET and POST for search...they are treated identically.  So unless there was a proxy interfering with your request, something else is wrong with your query.

There are situations where Elasticsearch will just run a match_all query if the query syntax is approximately correct but not quite.  Perhaps you could post your entire query + request and we can take a look?

@polyfractal I'm guessing it is an internal proxy here causing the issue. Thanks for the note on overriding the method by issuing a custom `CURLOPT`. Here is an example of the query for reference:
```json
{
	"query": {
		"bool": {
			"must": [{
				"dis_max": {
					"queries": [{
						"nested": {
							"path": "ProductNames",
							"query": {
								"common": {
									"ProductNames.ProductName": {
										"boost": 5,
										"query": "Scotch Filament Tape 8981 Clear",
										"cutoff_frequency": 0.0007,
										"minimum_should_match": 2
									}
								}
							},
							"inner_hits": {
								"size": 3
							},
							"score_mode": "max"
						}
					}, {
						"nested": {
							"path": "ProductNumbers",
							"query": {
								"common": {
									"ProductNumbers.ProductNumber": {
										"boost": 100,
										"query": "8981",
										"cutoff_frequency": 0.0007,
										"minimum_should_match": 1
									}
								}
							},
							"inner_hits": {
								"size": 3
							},
							"score_mode": "max"
						}
					}, {
						"nested": {
							"path": "TradeNames",
							"query": {
								"common": {
									"TradeNames.TradeName": {
										"boost": 50,
										"query": "SCOTCH",
										"cutoff_frequency": 0.0007,
										"minimum_should_match": 1
									}
								}
							},
							"inner_hits": {
								"size": 3
							},
							"score_mode": "max"
						}
					}],
					"tie_breaker": 0.3
				}
			}],
			"filter": [{
				"term": {
					"LangCode": "EN"
				}
			}]
		}
	}
}
```

When I debug log the request I see that it is taking my query above and wrapping it in another `query`. This seems to be the problem:

```php
$results = $client->search($params);
$last = $client->transport->getLastConnection()->getLastRequestInfo();
print_r($last);
```

The response param of the connection information array print out shows the JSON wrapped in an additional `query` structure.: 
```json
{"query":{"query":{"bool":{"must":[{"dis_max":{"tie_breaker":0.3,"queries":[{"nested":{"path":"ProductNames","score_mode":"max","query":{"common":{"ProductNames.ProductName":{"query":"Scotch Filament Tape 8981 Clear","boost":5,"cutoff_frequency":0.0007,"minimum_should_match":2}}},"inner_hits":{"size":3}}},{"nested":{"path":"ProductNumbers","score_mode":"max","query":{"common":{"ProductNumbers.ProductNumber":{"query":"8981","boost":100,"cutoff_frequency":0.0007,"minimum_should_match":1}}},"inner_hits":{"size":3}}},{"nested":{"path":"TradeNames","score_mode":"max","query":{"common":{"TradeNames.TradeName":{"query":"SCOTCH","boost":50,"cutoff_frequency":0.0007,"minimum_should_match":1}}},"inner_hits":{"size":3}}}]}}],"filter":[{"term":{"LangCode":"EN"}}]}}}}
```

So I was getting confused about the different results because I was running the query without the additional `query` wrapper. Now to figure out why its getting put there.



I was able to find the part of my code injecting the additional `query` wrapper. I have removed it and I now get the correct results regardless of `GET` or `POST` method.

Awesome, great to hear!  Lemme know if you have any more questions/problems :)

I am having a very similar problem. I double checked and I am not suffering from a "double query" - however I am running nginx in front of ES which might be stripping out data if the request is `GET`.

That being said, is there any reason for this non-standard behaviour? E.g. why should a webserver be able to expect body-data on a `GET` request?

> That being said, is there any reason for this non-standard behaviour? E.g. why should a webserver be able to expect body-data on a GET request?

Few reasons, some historical, some functional:

- ES isn't a webserver, it's more akin to a database that exposes it's API over HTTP.
- GET describes the action being performed (GET'ing the search results), which technically makes it more of a RESTful action than if PUT/POST were used
- That's just how Shay did it to begin with
- The HTTP spec doesn't forbid GET + request body.  [RFC 7231, section 4.3.1](https://tools.ietf.org/html/rfc7231#page-24) just says:

    > A payload within a GET request message has no defined semantics;
   sending a payload body on a GET request might cause some existing
   implementations to reject the request.

   ES took the route of saying that the GET body *does* have semantic meaning in the context of Elasticsearch's API.  It may be ignored if went to Apache, for example, but Apache doesn't understand query DSL either.  As long as it isn't forbidden by the HTTP spec it's technically fine.

Folks who try to stay RESTful *and* adhere to the no-body-with-GET end up doing all kinds of silly gymnastics.  E.g. you POST to the server to "create" a resource which contains the search results, then you have to call a second API to GET the results.  It creates all kinds of problems for the end-user, and creates resource problems for the server (e.g. you have to hold open search result "windows" until the user is done)



@polyfractal thanks for taking the time to explain this a little more in detail. I am not disagreeing with you at all (as most of the points sound legit), nor do I have any opinion on "if xy is correcter than abc" (in general).

However this is giving a pretty good sentiment: 

> sending a payload body on a GET request might cause some existing
> implementations to reject the request.

The point here is: just because a RFC does not forbid it, it doesn't mean otherwise it is a good idea ;) - NOR can we then assume that every HTTP server implementation will have the same "idea" and implement it like that.

Truth is though, that "traditionally" GET requests do not contain any request-body, adding such though, might cause problems completely aside of ES (proxies, http-client libraries, "security rules", policies, etc. ...) - in this case I am not even sure if it's nginx stripping the request-body, or even GAE's urlfetch - either way, my PR solves the problem for me :)

> The point here is: just because a RFC does not forbid it, it doesn't mean otherwise it is a good idea ;)

¯\\\_(ツ)_/¯ Not disagreeing either, but that's the way things are done in ES :)

> NOR can we then assume that every HTTP server implementation will have the same "idea" and implement it like that.

This, however, I would quibble with.  The ES DSL and APIs are not meant to be used with another web server; they are meant to be sent to Elasticsearch.  If a proxy interferes with the requests, that's really the fault of the proxy.  Elasticsearch *is* flexible in that it'll accept POST instead of GET to make it easier for clients and proxies, but the fault is really with the proxy for not allowing GET + Body through to Elasticsearch.

But like you said, it's a spectrum.  There's really no right or wrong answer, it's just the way that ES decided to interpret the HTTP spec and implement it's APIs.  It is the way it is :)

As to the PR, I have a few concerns, but I'll leave comments on the PR itself.  And I want to ping the other client authors first and see what they think.  Will write back in a bit :)

Related discussion: elastic/elasticsearch#16024. As I wrote there, what makes using `GET` with an HTTP body wrong is that responses from a `GET` request is supposed to be cacheable (unless the HTTP headers explicitly disallow it). Since the URI is the cache key, **every request for the same URI** to a cache put in front of Elasticsearch **will return the same response**. That is such a b0rk of HTTP's "Uniform Interface" that I'd consider it a bug.

I mean, I don't know what to tell you.  The reasons laid out in https://github.com/elastic/elasticsearch/issues/16024 still hold, and the clients follow the Elasticsearch's APIs.  If you don't want to use GET, manually change to POST.

If/ever/when Elasticsearch changes the default method, the clients will follow suit. :)



Yea, I understand the reasoning, I just disagree. Let's hope the `SEARCH` method can become a standard sooner rather than later. :)